* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    overflow-x: hidden;

}

.image {
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
    height: 100%;
    width: 4rem;
    display: flex;
    align-items: center;
    background-color: #000000;
    opacity: 70%;
    line-height: 60px;
    /* background: linear-gradient(to right,black 80%, transparent 90%); */
}

.nav-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    box-shadow: 1rem 0 1rem 1rem #000000e6;
    /* opacity: 50%; */
    transition: 500ms;
}

.item {
    position: relative;
    font-size: 35px;
    cursor: pointer;
    color: white;
    transition: 500ms;
}

.item::after {
    position: absolute;
    width: 200px;
    height: 100%;
    font-size: 20px;
    content: attr(data-label);
    transform: translateX(-25%);
    opacity: 0;
    transition: 500ms;
    top: 5%;
    padding-left: 1rem;
}

.nav-items:hover .item::after {
    transform: translateX(0);
    opacity: 1;
}

.nav-items:hover {
    box-shadow: 4rem 0 3rem 4rem;
    background-color: rgba(0, 0, 0, 70%);
}

.item:hover::after {
    font-size: 24px;
    font-weight: 600;
}

/* main page  */

.front-page-main-div {
    width: 100%;
    height: 600px;
    /* background-color: aquamarine; */
    /* background-image: url("./images/bigboss.webp"); */
    background-size: 100% 750px;
    background-position-x: 90px;
    display: flex;
    /* justify-content:flex-end; */
    align-items: end;
    padding-left: 110px;
    padding-bottom: 0px;
    background-image:
    linear-gradient(to right, rgba(0, 0, 0,.9) 25%, rgba(0, 0, 0,.4) 40%, rgba(0, 0, 0, 0.4) 40%),
    url('./images/bigboss.webp');
    /* position: fixed; */
}
.main-page-inside-first-box {
   height: 500px;
   width: 450px;
   /* background-color: aquamarine; */
   /* display: flex; */
}
.front-page-biggboss-logo {
    height: 130px;
}
.main-page-inside-of-inside-box1 {
    /* border: 1px solid black; */
    width: 100%;
    height: 135px;
}
.main-page-inside-of-inside-box2 {
    /* border: 1px solid black; */
    width: 100%;
    height: 180px;
}   
.main-page-inside-of-inside-box3 {
    /* border: 1px solid black; */
    width: 100%;
    height: 150px;
    padding-top: 30px;
}
.subscribe-to-watch-button {
    height: 55px;
    width: 360px;
    color: white;
    background-color: rgba(148, 145, 145, 0.7);
    border-radius: 10px;
    font-size: 20px;
    border: none;
    font-weight: 600;
}
.add-button {
    height: 55px;
    width: 60px;
    color: white;
    background-color: rgba(148, 145, 145, 0.7);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;   
}

/* first scroll pverflow  */

.latest-relese {
    height: 300px;
    width: 100%;
    /* border: 1px solid black; */
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    /* overflow-x: scroll; */
    overflow-y: visible;
    padding-left: 100px;
    gap: 10px;
    background-color: rgb(0, 0, 0);
}

.latest-release-div {
    padding-left: 100px;    
    padding-top: 30px;
    font-size: 21px;
    font-weight: 600;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
}

.scoll-div-1 {
    flex-shrink: 0;
    /* padding-left: 100px; */
    height: 230px;
    width: 180px;
    /* overflow: visible; */
    border-radius: 6px;
    /* border: 1px solid rgb(191, 184, 184); */
    transition-duration: .5s;
    transform-origin: 0%;
}
.scoll-div-2to12 {
    flex-shrink: 0;
    /* padding-left: 100px; */
    height: 230px;
    width: 180px;
    /* overflow: visible; */
    border-radius: 6px;
    /* border: 1px solid rgb(183, 179, 179); */
    transition-duration: .5s;
    /* transform-origin: 0%; */
}
#latest-release-scroll-right-div-1:hover {
    transform: scale(1.6);
    /* background-color: aquamarine; */ 
}
/* #latest-release-scroll-right-div-1-inner-div {
    display: none;
}
#latest-release-scroll-right-div-1:hover .latest-release-scroll-right-image1 {
    display: none;
}
#latest-release-scroll-right-div-1:hover .latest-release-scroll-right-image2 {
    display: block;
} */

/* this is for adding content while scaling  */

.latest-release-scroll-right-image2 {
    object-fit: cover;
    width: 178px;
    height:120px;
    border-radius: 6px 6px 0px 0px;
}
.watch-now-button {
    height: 30px;
    width: 130px;   
    color: rgb(19, 19, 19);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;
}
.watch-now-button-add {
    height: 30px;
    width: 30px;
    color: white;
    background-color: rgba(148, 145, 145, 0.7);
    border: none;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;
}
.latest-release-scroll-right-div-1-inner-div-part1 {
    width: 100%;
    height: 110px;
}
.latest-release-scroll-right-div-1-inner-div {
    display: none;
}
#latest-release-scroll-right-div-1:hover .latest-release-scroll-right-image1 {
    display: none;
}
#latest-release-scroll-right-div-1:hover .latest-release-scroll-right-div-1-inner-div {
    display: block;
}


/* this is for adding content while scaling , up to this  */

#latest-release-scroll-right-div-2:hover {
    transform: scale(1.5);
    /* background-color: aquamarine; */
   
}
#latest-release-scroll-right-div-3:hover {
    transform: scale(1.5);
    /* background-color: aquamarine; */
   
}
#latest-release-scroll-right-div-4:hover {
    transform: scale(1.5);
    /* background-color: aquamarine; */
   
}
#latest-release-scroll-right-div-5:hover {
    transform: scale(1.5);
    /* background-color: aquamarine; */
   
}
#latest-release-scroll-right-div-6:hover {
    transform: scale(1.5);
    /* background-color: aquamarine; */
   
}
#latest-release-scroll-right-div-7:hover {
    transform: scale(1.5);
    /* background-color: aquamarine; */
   
}
#latest-release-scroll-right-div-8:hover {
    transform: scale(1.5);
    /* background-color: aquamarine; */
   
}
#latest-release-scroll-right-div-9:hover {
    transform: scale(1.5);
    /* background-color: aquamarine; */
   
}
#latest-release-scroll-right-div-10:hover {
    transform: scale(1.5);
    /* background-color: aquamarine; */
   
}
#latest-release-scroll-right-div-11:hover {
    transform: scale(1.5);
    /* background-color: aquamarine; */
   
}
#latest-release-scroll-right-div-12:hover {
    transform: scale(1.5);
    /* background-color: aquamarine; */
   
}

/* #div-1 {
    height: 300px;
    width: 300px;
    position: relative;
}

#inner {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    z-index: 10;
    transition-duration: .5s;
}

#inner:hover {
    transform: scale(1.3);
} */


.latest-release-scroll-right-image1 {
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 6px;
}

/* last part  */

.last-part-main-div {
    height: 300px;
    width: 100%;
    padding-left: 120px;
    background-color: black;
    display: flex;
    padding-top: 90px;
}
.last-part-box {
    height: 200px;
    width: 350px;
    /* border: 1px solid black; */
    background-color: black;
}
